@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    gap: 10px;
  }

  .form-control {
    font-size: 0.9rem;
  }

  .btn {
    padding: 10px 20px;
    font-size: 0.9rem;
  }

  #tab {
    flex-direction: column;
  }

  /* Style pour petits écrans */
  @media (max-width: 768px) {
    #transactions-table thead {
      display: none; /* Cache l'en-tête pour les petits écrans */
    }

    #transactions-table tr {
      display: block;
      margin-bottom: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    #transactions-table td {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      border: none;
      border-bottom: 1px solid #ddd;
    }

    #transactions-table td:last-child {
      border-bottom: none;
    }

    #transactions-table td[data-label]::before {
      content: attr(
        data-label
      ); /* Ajoute un label basé sur les noms des colonnes */
      font-weight: bold;
      color: #007bff;
      margin-right: 10px;
    }

    .delete-btn {
      background-color: #ff4d4d;
      color: white;
      border: none;
      padding: 8px 12px;
      border-radius: 5px;
      cursor: pointer;
    }

    .delete-btn:hover {
      background-color: #ff1a1a;
    }
  }
}
